<!-- Services Section -->
    <section id="collab">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Collab</h2>
                    <h3 class="section-subheading text-muted">Produced by Luke Abram</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 song">
                    <h4 class="service-heading song-title">Guilty</h4>
                    <audio controls controlsList="nodownload">
                        <source src="media/guilty.mp3" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="clearfix media-footer">
                        <div class="pull-left">feat. Ian Martinez</div>
                        <div class="pull-right">Jan 2021</div>
                    </div>
                </div>
                <div class="col-md-6 song">
                    <h4 class="service-heading song-title">Not Enough</h4>
                    <audio controls controlsList="nodownload">
                        <source src="media/not_enough.mp3" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="clearfix media-footer">
                        <div class="pull-left">feat. David Conner, Ian Martinez</div>
                        <div class="pull-right">May 2022</div>
                    </div>
                </div>
                <div class="col-md-6 song">
                    <h4 class="service-heading song-title">Sinking Ship</h4>
                    <audio controls controlsList="nodownload">
                        <source src="media/sinking_ship.mp3" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="clearfix media-footer">
                        <div class="pull-left">David Conner</div>
                        <div class="pull-right">Feb 2021</div>
                    </div>
                </div>
                <div class="col-md-6 song">
                    <h4 class="service-heading song-title">Sea Salt</h4>
                    <audio controls controlsList="nodownload">
                        <source src="media/sea_salt.mp3" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                    <div class="clearfix media-footer">
                        <div class="pull-left">feat. Jswissy</div>
                        <div class="pull-right">May 2020</div>
                    </div>
                </div>
            </div>
        </div>
    </section>