<!-- Services Section -->
<section id="solo">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Solo</h2>
                <h3 class="section-subheading text-muted">Written and composed by Luke Abram</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Sunset</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/sunset.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Apr 2022</div>
                </div>
            </div>
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Lot of Life</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/lot_of_life.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Jan 2022</div>
                </div>
            </div>
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Aight</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/aight.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Aug 2021</div>
                </div>
            </div>
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Watching Stars</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/watching_stars.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Jul 2021</div>
                </div>
            </div>
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Moving On</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/moving_on.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Mar 2022</div>
                </div>
            </div>
            <div class="col-md-6 song">
                <h4 class="service-heading song-title">Change</h4>
                <audio controls controlsList="nodownload">
                    <source src="media/change.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
                <div class="clearfix media-footer">
                    <div class="pull-right">Oct 2021</div>
                </div>
            </div>
        </div>
    </div>
</section>